@use 'base';

.cover {
    background-color: #e1fff0;
    box-shadow: 0 -1px 15px 2px rgb(0 0 0 / 70%);
}

.form-signin {
    width: 90%;
    padding: 15px;
    margin: auto;
    .checkbox { font-weight: 400; }
    .test-account {
        margin-left: 50px;
    }
    .form-floating:focus-within {
      z-index: 2;
    }
  }

